<h1 class="main__head">Daily Theme</h1>
<h2 class="main__head--sub">Reflection is Important.</h2>
<h2 class="main__head--sub">Be Conscious.</h2>
<h2 class="main__head--sub">Show Appreciation.</h2>
<p class="intro-text">
  I made it my personal goal to take time to capture the theme of
  each day. This is where you can come and read them.
</p>

<h2 class="main__head--sub"><u> <%= link_to "My Daily Themes", posts_path %> </u> </h2>
