<h1>Listing tweets</h1>
<table>
 <tr>
 <th>Status</th>
 <th>Zombie</th>
 </tr>
<% Tweet.all.each do |tweet| %>
 <tr>
 <td><%= tweet.status %></td>
 <td><%= tweet.zombie.name %></td>
 </tr>
<% end %>
<% if tweets.size == 0 %>
  <em>No tweets found</em>
<% end %>
</table>
